*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0065FF;
    --font-color: hsl(300, 100%, 100%);
    --font-color-darker: hsl(300, 0%, 92%);
    --background-color: #1a1c1e;
    --background-color-light: #222426;
    --background-color-light2: hsl(210, 6%, 18%);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 24px;
    padding-bottom: 120px;
    min-height: 100vh;
}


#header-title {
    margin: 0px 0 0px 0;
    font-size: 32px;
    align-self: flex-start;
    background-image: linear-gradient(75deg,rgba(255, 254, 255, 1) 26%, rgba(255, 254, 255, 0.2) 100%);
    background-clip: text;
    color: transparent;
}

/* Settings Area is the box containing all Hours input, dates input and calculate button */
.settings-area {
    margin: 12px 0 12px 0;
    background-color: var(--background-color-light);
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.settings-area div {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 0;
}

.settings-area #job-detail-div {
    padding-bottom: 24px;
}

.settings-area #market-duration-div{
    padding-bottom: 24px;
}


.settings-area h3 {
    margin-bottom: 6px;
    font-size: 1.5em;
}

.settings-area label{
    font-size: 1.1em;
    font-weight: 500;
}

.settings-area label input{
    padding: 8px 6px;
    border-radius: 12px;
    font: 16px 'Poppins', sans-serif;
    background-color: #292b2e;
    color: var(--font-color);
    font-weight: normal;
    border: none;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 6px 0 6px 0;
}

.settings-area label input[type="date"]{
    color-scheme: dark;
    width: auto;
}


button{
    border-radius: 12px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
    color: #FFFFFF;
    font-weight: 600;
    border: none;
}

.settings-area button{
    padding: 8px 32px;
    font-size: 16px;
    border: none;
}

#calculate-btn{
    padding: 8px 16px;
    font-size: 16px;
    border: none;
}

#schedule-area {
    margin-top: 12px;
    background-color: var(--background-color-light);
    padding: 24px;
    border-radius: 8px;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.1);
}

#schedule-area h3 {
    font-size: 1.5em;
}

#schedule-area p {
    font-size: 16px;
    color: var(--font-color-darker);
}


.day-row{
    margin: 12px 0;
    margin-left: 12px;
    display: flex;
    align-items: center;
}

.day-row input[type="checkbox"]{
    appearance: none;
    width: 28px;
    height: 28px;
    margin-right: 8px;
    background-color: var(--background-color-light2);
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    box-shadow: -4px 4px 8px hsla(0, 0%, 0%, 0.1);
}

.day-row label{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.day-row input[type="checkbox"]:checked{
    background-color: var(--primary-color);
}



.day-hours-input{
    width: 32px;
    height: 32px;
    text-align: center;
    font: 16px 'Poppins', sans-serif;
    font-weight: 600;
    border-radius: 8px;
    margin-right: 12px;
}

.day-hours-input{
    background-color: var(--background-color-light2);
    border: none;
    color: var(--font-color);
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.2);
}

/* weeks container is the container that shows the week 1,2,3 and the corresponding days */
.weeks-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 12px;
    padding: 0px 6px;

    scrollbar-width: thin;           /* Makes it thinner */
    scrollbar-color: #4a4d52 #222426; /* thumb_color track_color */
}

/* #weektext is responsible for the week 1 div, created in js. It alignes text Hours to the right */
.week-box #WeekText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 6px;
}

/* Result area is fixed on bottom of the page, and shows total earnings,hours */
#result-area {
    position: fixed;
    left: 0;
    bottom: 0;

    background-color: var(--background-color-light);

    /* Sizing */
    padding: 16px;
    width: 100%;

    display: grid;
    justify-content: center;
    justify-items: start;
    align-items: center;

    box-shadow: 0 -4px 10px rgba(0,0,0,0.3); /* Optional: Shadow pointing UP */
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}

.clear-data-btn{
    margin: 32px 0 0 0;
}

#clear-data-btn-desktop{
    display: none; /* Hidden by default, shown in desktop version */
}
    

/* === DESKTOP VERSION === */
/* Triggers only when screen is wider than 600px (Tablets) */
@media (min-width: 600px) {
    body {
        padding: 40px;
        padding-bottom: 150px;
    }

    #header-title {
        align-self: center;
        font-size: 40px;
    }

    .settings-area {
        max-width: 550px;
        padding: 30px 100px;
    }

    #schedule-area {
        max-width: 800px;
        padding: 30px 100px;
    }

    #result-area {
        padding: 12px;
    }

    #clear-data-btn-desktop {
    margin: 0;
    display: block; /* Show the button in desktop version */

    position: absolute; /* Take it out of the flow */
    right: 15px;        /* 15px from the right edge */
    top: 50%;           /* Center vertically */
    transform: translateY(-50%); /* Perfect vertical centering */

        /* Make it small */
    padding: 6px 12px;
    font-size: 12px;
    width: auto;        
    
    /* Colors (Red/Warning theme) */
    background-color: #3b3e42; /* Dark Grey */
    border: 1px solid #555;
    color: #aaa;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease;

    }
    #clear-data-btn-mobile{
        display: none; /* Hide the mobile button in desktop version */
    }

}